body {
    background-color: #191919;

    color: #A7A7A7;

    padding: 20px 50px;

    font-family: 'Poppins';
    
}


.flex {
    display: flex;
    align-items: center;}

.justify-between{

justify-content: space-between;
}


    header {
        justify-content: space-between;
        /* justify-content: space-around; */
        font-family: 'DM Sans';

        margin-bottom: 50px;
    }
    
    
    ul {
        list-style: none;
    
    }
    
    
    li {
        margin: 0 10px;
    
    }
    
    .social-buttons img {
        margin: 0 10px;
    
    }
    
    
    .logo {
    
        font-size: 32px;
        font-weight: 600;
    
    }
    
    
    .gradiant-text {
    
        background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
        background-color: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }


    .section-title{
        font-family: 'Poppins';
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 123.81% */
        letter-spacing: -0.4px;

    }

    .section-description{

        font-size: 18px;
        font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    }

    section{
        width: 45vw;
    }
    .card title{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
        letter-spacing: 1px;

    }

    .category{

        max-width: fit-content;


        /* width: fit-content; */
        padding: 1px 20px;
        color: var(--Button-text, #018C0F);
        text-align: center;
        font-family: Poppins;
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 288.889% */


        border-radius: 100px;
background: var(--Button-success, #D7FFE0);
    }